body {
    background:#bf5c71;
    font-family: "Andalus";
}

/* Top Menu Style */

.menu > ul > li{
	margin: 0px;
	list-style: none;
	background:#3e3436;
	display: inline-block;
	float: right;
	position: relative;
	font-size: 25px;
    width:300px;
    text-align:center;

    border-radius: 15px;
}

.menu > ul > li > a{
    color:#919191;
    text-decoration:none;
	display:inline-block;
	padding:10px 40px;
    width:auto;
}

.menu li:hover, .menu .current{
    background:#2e2728;
}

.menu li:hover a, .menu .current a{
    color:#be5b70;
}

.menu-wrap{
    position:fixed;
}

/* Content Style*/

.content-wrap{
    position: relative;
	float: right;
	width: 1200px;
	height: 400px;
    background-color: #2e2728;
	margin-top: 100px;
    margin-right: 40px;
    border-radius: 25px;
}

.Welcome{
    display: inline-block;
    width: 40%;
}

.Welcome h1{
    color:#600080;
    margin-right: 40px;
    text-decoration: underline;
}

.Welcome p{
    color: #ffffff;
    font-size: 25px;
    margin-right: 40px;
}

.content{
    display: inline-block;
    width:25%;
    margin-top: 50px;
}

.content p{
    color: white;
    font-size:20px;
    margin-right:20px;
}

.content select{
    font-size:20px;
    width: 200px;
    margin: 10px;
}

.college-search-city{
    margin-right:110px;
}

.college-search-field{
    margin: auto;
}

.content input{
    margin-right: 70px;
    margin-top: 15px;
    width:80px;
}