body {
    background:#bf5c71;
}

/* Top menu level */


.menu li{
	margin: 0px;
	list-style: none;
	background:#3e3436;
	display: inline-block;
}

.menu > ul > li{
	float: right;
	position: relative;
	font-size: 25px;
    width: 300px;
}

.menu > ul > li > a{
	display:inline-block;
	padding:10px 40px;
}

/* font style applies for all links in menu (both inner & outer menu) */

.menu li:hover > a, .menu .current > a, .sub-menu li:hover > a {
    background:#2e2728;
    color:#be5b70;
}

.menu a {
    color:#919191;
    text-decoration:none;
}

.menu .arrow{
	font-size: 10px;
	line-height: 0%;
}

/*
.menu-wrap{
    width:100%;
    box-shadow:0px 1px 3px rgba(0,0,0,0.2);
    background:#3e3436;
}

.menu{
	width:1000px;
	margin:0px auto;
}
*/



/*----- Bottom menu evel -----*/

.sub-menu li {
    display:block;
    font-size:20px;
}

.sub-menu li a {
    padding:10px 30px;
    display:block;
}




.sub-menu {
    width:160%;
    padding:5px 0px;
    position:absolute;
    top:100%;
    left:0px;
    z-index:-1;
    opacity:0;
    transition opacity linear 0.15s;
    box-shadow:0px 2px 3px rgba(0,0,0,0.2);
    background:#2e2728;
}

.menu li:hover .sub-menu {
    z-index:1;
    opacity:1;
}

 
